<div>
    <div style="color: #20b2aa;font-size: 20px;">
        &radic; Connect [$instanceName$] restore normally
    </div>
    <div>
        <ul>
            <li>
                Time: $time$
            </li>
            <li>
                Monitor URL: <a href="$url$">$url$</a>
            </li>
            <li>
                Cost time: $costTime$ ms
            </li>
        </ul>
        More monitoring instance see <a href="$instanceUrl$">$instanceName$</a>
    </div>

    <div style="color: gray;">
        <p>
            From <a href="$host$">HeartBeat</a>
        </p>
    </div>
</div>

