<div>
    <div style="color: red;font-size: 20px;font-weight: 300;">
        &chi; Unable to connect [$instanceName$]
    </div>
    <div>
        <ul>
            <li>
                Time: $time$
            </li>
            <li>
                Monitor URL: <a href="$url$">$url$</a>
            </li>
            <li>
                Remark: <strong>$remark$</strong>
            </li>
        </ul>
        More monitoring instance see <a href="$instanceUrl$">$instanceName$</a>
    </div>

    <div style="color: gray;">
        <p>
            From <a href="$host$">HeartBeat</a>
        </p>
    </div>
</div>

